#!/usr/bin/env sh

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

sxhkd -m 1 &
flameshot &
dunst &
picom --config ~/.config/picom/picom.conf &
pasystray &
redshift-gtk &
blueman-applet &
exec bspwm

