#!/bin/bash

# Verbosity
alias mv="mv -iv"
alias cp="rsync -arh --progress"
alias rm="rm -v"
alias ls='ls -hN --color=auto --group-directories-first'
alias ll='ls -l --color=auto --group-directories-first'
alias lh='ls -alF --color=auto --group-directories-first'
alias lg='ls -alF | grep'
alias mkdir='mkdir -pv'
alias digs='dig +short'
alias songs='ncmpcpp'
alias pac_cache_size='du -sh /var/cache/pacman/pkg/'
alias sudo='sudo '
alias -g gopath="$HOME/go/src/github.com/adityathebe"

# Configs
alias zshrc="vim ~/.config/zsh/.zshrc"
alias aliases='vim ~/.config/.aliases'
alias bspconf='vim ~/.config/bspwm/bspwmrc'
alias polyconf='vim ~/.config/polybar/config'

# Bare Git Repository Controller for dotfiles
alias dotfile='/usr/bin/git --git-dir=$HOME/.dotfilesGitBareRepo --work-tree=$HOME'

# Applications
alias open="pcmanfm"
alias vim="nvim"
alias rss="newsboat"
alias publicip='dig +short myip.opendns.com @resolver1.opendns.com -4'
alias du='du -ch'
alias df='df -h'

# Time in different places
alias indiana='TZ=":America/Indiana/Indianapolis" date "+%I:%M%P"'
alias cali='TZ=":America/Los_Angeles" date "+%I:%M%P"'

# Audio and video downloaders from spotify and youtube
alias yta="youtube-dl --add-metadata -i -x --audio-format mp3"
alias yt="youtube-dl --add-metadata -f 'bestvideo[ext=mp4]'"

# speedtest: get a 100MB file via wget
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test100.zip" 

# Weather Report
alias weather="curl https://wttr.in/kathmandu"

# URL encode and decode
alias urlencode='python -c "import sys, urllib.parse as ul; [sys.stdout.write(ul.quote_plus(l)) for l in sys.stdin]"'
alias urldecode='python -c "import sys, urllib.parse as ul; [sys.stdout.write(ul.unquote_plus(l)) for l in sys.stdin]"'

pyserver() { python -m http.server $1 --bind 0.0.0.0 }
fkill() { ps aux | grep $1 | grep -v grep | awk '{print $2}' | xargs kill -9 }
clean_docker_img() { docker rmi $(docker images -f "dangling=true" -q) }
clean_docker_container() { docker container rm -f $(docker container ls -a -q) }
unique() { awk '!seen[$0]++' }
dirsize() { du -d 1 $1 | sort -h }
topcmds() { history | awk '{print $2}' | sort | uniq -c | sort -bgr | head -n 25 }

## Fmpeg Script to add album cover to all files in the current directory
add_album_art() {
	for f in ./*.mp3; do
		ffmpeg -i "$f" -i cover.jpg -map_metadata 0 -map 0 -map 1 -acodec copy out-"${f#./}" \
		&& /usr/bin/mv out-"${f#./}" "$f";
	done
}

gonew() {
	# Set up a quick go environment
	# https://www.arp242.net/zshrc.html#playground-environment
	dir="$HOME/go/src/github.com/adityathebe/$1"
	[ -d "$dir" ] && echo "Directory $dir exists." && return 1

	mkdir -p $dir
	printf 'package main\n\nfunc main() {\n\n}\n' > "$dir/main.go"
	printf 'package main\n\nimport "testing\n\nfunc TestMain(t *testing.T) {\n\n}\n\n' > "$dir/main_test.go"
	printf 'func BenchmarkMain(b *testing.B) {\n\tb.ReportAllocs()\n\tfor n := 0; n < b.N; n++ {\n\t}\n}\n' >> "$dir/main_test.go"

	printf 'module github.com/adityathebe/%s\n' "$1" > "$dir/go.mod"
	(
			code $dir
			echo "$dir"
	)
}
